
.world, .water, .water1, .cloud, .ship, .pic{
	position: absolute;
}
.pic{
	width: 560px;
	height: 437px;
	background: #80cdc6;
	top: 0px;
	left: 0px;
}
.world{
	background: url(world.svg);
	width: 558px;
	height: 447px;
	background-repeat: no-repeat;
	top: 100px;
}
.water{
	background: url(water.svg);
	width: 560px;
	height: 447px;
	background-repeat: no-repeat;
	top: 392px;

}
.cloud{
	background: url(clouds.svg);
	width: 345px;
	height: 447px;
	background-repeat: no-repeat;
	top: -7px;
	left: 215px;
}
.ship{
	background: url(wooden-ship.svg);
	width: 110px;
	height: 120px;
	background-repeat: no-repeat;
	top: 290px;
	left: 20px;
}