@import url("http://meyerweb.com/eric/tools/css/reset/reset.css") all;

html{
	font-size: 14px;
}

.product{
	font-family: 'Tahoma', sans-serif;
	margin: 10px;
	border: 2px solid #5a5a5a;
	width: 377px;
	height: 527px;
	text-align: center;
}
.model{
	font-family: 'Tahoma', sans-serif;
	font-size: 23px;
	line-height: 2rem;
	text-align: center;
	padding: 8px;
	margin-bottom: 12px;

}

.installment{
	width: 190px;
	height: 27px;
	color: #FFFFFF;
	background-color: #8bc144;
	font-size: 23px;
	font-family: 'Tahoma', sans-serif;
	margin-top: -2px;
	font-weight: bold;
	box-shadow: -3px 3px 0 0 #9c9c9c;
	padding-top: 3px;

}
.price{
	margin-top: 6px;
	font-size: 2.3rem;
	line-height: 4rem;
}

.buy{
	margin-top: 5px;
	margin-left: 63px;
	background-color: #ff0000;
	color: #ffffff;
	width: 227px;
	height: 40px;
	padding-top: 5px;
	font-size: 2.1rem;
	text-shadow: -1px 1px 0 #000000;
	box-shadow: -1px 6px 0 -1px #850000;
}